body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

#header {
	background-color: #F9F0E5 ;
}

#header-text, #header-text-mobile {
	font-family: "Inter";
	font-weight: 300;
	font-size: .6rem;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

#page-title {
	font-family: "Sofia Sans";
	font-weight: 500;
	color: #01005B;
	font-size: 2.3rem;
}

#page-text {
	font-family: "Sofia Sans";
	font-weight: 400;
	color: #676869;
}

#button {
	background-color: #01005B;
	color: #FFFFFF;
	font-family: "Inter";
	font-weight: 300;
	font-size: 18px;
}

#brands-tab {
	background-image: url('images/background landing.png');
	background-repeat: no-repeat;
	background-size: 100%;
	font-family: "Sofia Sans";
	font-weight: 400;
	color: #868787;
}

#page-title2 {
	font-family: "Sofia Sans";
	font-weight: 500;
	color: #01005B;
}

#connection {
	background-color: #F0EEEF;
}

#page-text2 {
	font-family: "Sofia Sans";
	font-weight: 400;
	color: #6C6C6C;
}

#square1, #square3 {
	height: 275px;
	background-color: #F0EEEF;
	border-radius: 10px;
}

#square2 {
	height: 275px;
	background-color: #F9F0E6;
	border-radius: 10px;
}

.custom-card-deck .card {
    height: auto !important;
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(100%);
}



#card-text {
	font-family: "Inter";
	font-weight: 300;
	font-size: 12px;
	color: #676869;
}

#cardTitle {
	font-family: "Sofia Sans";
	font-weight: 500;
	color: #01005B;
	font-size: 18px;
}

#cardBody {
	font-family: "Sofia Sans";
	font-weight: 400;
	color: #676869;
	font-size: 15px;
}

#accordionCard {
        border-left: none !important;
        border-right: none !important;
    }

#info-banner {
	background-color: #F0EEEF;
}

#banner-title {
	font-family: "Sofia Sans";
	font-weight: 800;
	color: #15005B;
}

#banner-text {
	font-family: "Sofia Sans";
	font-weight: 400;
	color: #15005B;
}

#cta {
	background-image: url('images/background cta.png');
	background-position: bottom;
	background-repeat: no-repeat;
}